# Virtual Environment
.venv/

# Python
__pycache__/
*.py[cod]
*.pyo

# IDE
.vscode/
.idea/

# Environment
.env

# Database
data/*.db

# Logs
logs/

# Backups
backups/

# OS
.DS_Store
Thumbs.db


# PyInstaller build output
build/
dist/



